<div> 
  <div class="nav" align = "left">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="#"></a>      
    </div>
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>       
    <div align = "left" class = "project">    
      Projectcx  
    </div> 
    <div align = "left" class = "buttons">
      <button class = "btn btn-success" style = "border-radius: 15px; margin-right: 10px">Login</button>
      <button class = "btn btn-danger" style = "border-radius: 15px; margin-left: 10px">Signup</button>
    </div>
  </div>    
  <div class  = "pin" align = "center">
    <label>Enter your pincode</label>
    <br>
    <input type = "text" style = "border: 1px solid black;border-radius: 10px; margin-top: 15px">
    <br>
    <button class  = "btn btn-success" style = "border: 1px solid green;border-raidus: 50px; margin-top: 20px">|^_^| Authenticate |^_^|</button>
    </div>
</div>